---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
IncludeBlocks: Preserve
DerivePointerAlignment: false
PointerAlignment: Right
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
---
Language: Proto
BasedOnStyle: Google
